<% label ||= '㊙️' %>
<%= link_to label, road_crew.engine_settings_path, id: 'road_crew_button', class: 'closed', remote: true %>
<div id="road_crew_container" style="position:fixed; bottom: 0px; right: 0px"></div>
<script type="text/javascript">
window.onload = function() {
  $("#road_crew_button").on("ajax:success", function(e, data, status, xhr) {
    $("#road_crew_container").html(xhr.responseText);
  })
};
</script>
